@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.shop-container {
    padding: 30px;
    font-family: 'Righteous', cursive;
    font-size: 18px;
    margin-bottom: 100px;

}

.shop-container__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

}

