@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.shop-container {
    padding: 30px;
    font-family: 'Righteous', cursive;
    font-size: 18px;
    margin-bottom: 100px;

}

.shop-container__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

}

.shop-card {
    width: 220px;
    height: 300px;
}

.shop-card__image-box {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

.shop-card__image {
    width: 100%;
}

.shop-card__title {
    margin-top: 30px;
}

.shop-card__price-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.shop-card__icons-box {
    display: flex;
    justify-content: flex-end;
}

.icon {
    width: 25px;
    height: 25px;
}

.shop-card__cart-icon {
    margin-left: 20px;
}
